h1 {
    text-align: center;
    font-family: 'Bungee Shade', serif;
    color: white;
}

#missionSelect {
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Do Hyeon', serif;
    color: white;
}

body {
    background-image: url(./images/nebula.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    text-align: left;
}

#selector {
    text-align: center;
}

#faultyItems {
    visibility: hidden;   
}

#launchForm {
    font-family: 'Rakkas', serif;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(2, 2, 2);
    text-align: center;
    margin: auto;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
}

#launchStatusCheck {
    font-family: 'Rakkas', serif;
    letter-spacing: 3px;
    color: white;
    background-color: rgb(2, 2, 2);
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

#missionTarget img {
    max-width: 40%;
    max-height: 250px;
}

#missionTarget {
    font-family: 'Do Hyeon', serif;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(2, 2, 2);
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

button {
    font-family: 'Do Hyeon', serif;
    background-color: #5c0e91;
    letter-spacing: 2px;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
}
